article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; background: #f0efed; }
::-moz-selection {text-shadow: none; }
::selection {text-shadow: none; }
h1,h2,h3,h4,h5,h6,p,a {margin: 0;padding: 0;}
a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
b, strong { font-weight: bold; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol, dd { margin: 0; padding: 0; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }


/* ==|== primary styles =====================================================
   Author: 
   ========================================================================== */

h2 { font-family:'Vollkorn', Arial, Helvetica, serif; font-weight: 400; }
.power h1, .power h2, .power h3, .power p {
font-family:'Vollkorn', Arial, Helvetica, serif;
}
.power p {
line-height: 2em;
}

#container {margin: 0;padding: 0;}
#header {margin: 0;padding: 0;}

#banner {
background: url("../img/bkg-banner.png") repeat-x scroll 0 0 transparent;
height: 60px;
}
#banner div {width: 730px;margin: 0 auto;}
#banner h1, #banner p.tag {float:left;line-height: 60px;margin-right: 10px;}
#banner p {float:right;line-height: 60px;}
#banner img {float:right;margin: 3px 0 0 4px;}

#header, #main {
width: 710px;
margin: 0 auto;
}
#header {text-align: center;}
#header h1 {
background: url("../img/logo-power-100.gif") no-repeat scroll 0 0 transparent;
height: 106px;
margin: 20px auto;
text-indent: -2000em;
}
#header h3 {
background: url("../img/tagline-100-most-powerful.gif") no-repeat scroll 0 0 transparent;
height: 34px;
margin: 20px auto;
text-indent: -2000em;
}
.power-100 #header h1 {
background: none repeat scroll 0 0 #000;
padding: 10px 10px 10px 18px;
color: #fff;
height: 100%;
text-align: left;
text-indent: 0;
}
.power-100 #header h1 span {
bottom: 2px;
font-size: 20px;
font-weight: normal;
position: relative;
}
.power-100 #header p {
font-size: 16px;
padding: 0 35px;
text-align: left;
}

#main ul {
width: 710px;
margin:0;
padding: 0;
float: left;
position: relative;
}

li {
list-style: none;
float:left;
display: inline;
}
.power {
margin:0;
width: 234px;
height: 370px;
}
.power:hover {background: url("../img/hover.png") no-repeat scroll 3px 14px transparent;}

.active {
background: url("../img/hover.png") no-repeat scroll 3px 14px transparent;
position: relative;
z-index: 9;
}
.rank {background: url("../img/rank.png") no-repeat scroll 96px -2px transparent;}
.power-02 {position: absolute; left: 234px;}
.power-03 {position: absolute; right: 0;}

.power a {
color: #000;
text-decoration: none;
float: left;
position: relative;
width: 234px; 
margin: 8px auto 0;
}
.power a {color: #7c0b00;}

.trigger {
text-align: center;
cursor: pointer;
position: relative;
top:245px;
}
.trigger img {
position: relative;
bottom: 215px;
right: 2px;
}
.toggle_container {
display: none;
width: 676px;
float: left;
margin:-20px 0 0 15px;
}
.supplement {
margin-top: 20px; 
padding:20px;
background: none repeat scroll 0 0 #FFFFFF;
-webkit-box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, .1);
-moz-box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, .1);
box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, .1);
}
.supplement p {
padding-bottom: 15px;
}
.left {
background: url("../img/arrow-up.png") no-repeat scroll 90px 0 transparent;
position: relative; 
left: 0;
top:20px;
}
.center {
background: url("../img/arrow-up.png") no-repeat scroll center 0px transparent;
position: relative; 
left: 0;
top:20px;
}
.right {
background: url("../img/arrow-up.png") no-repeat scroll 560px 0 transparent;
position: relative; 
right: 0;
top:20px;
}
.trigger .rank {
font-family: "Arial Black",serif;
font-weight: bold; 
line-height: 21px;
color: #fff;
height: 25px;
letter-spacing: 0.5em;
padding-left: 8px;
margin-top: -320px;
position: relative;
z-index: 99;
}
.trigger h3 {
text-transform: uppercase;
position: relative;
z-index: 99;
}
.trigger p {
font-size: 11px;
position: relative;
z-index: 99;
}
.block h3 {padding-top: 20px;}

#header .nav-alt {float: left;width: 100%;padding: 25px 0;}
#header .nav-alt a.top-09 {float: left;
margin-left: 15px;
color: #660000;
background: url("../img/arrows.png") no-repeat scroll -27px center transparent;
padding-left: 10px;
}
#header .nav-alt ul {float: right;margin-right: 15px;padding: 0 5px;}
#header .nav-alt ul a {text-decoration: none;display: block;}
#header .nav-alt ul .email {background: url("../img/icons.gif") no-repeat 0 center;width: 47px;padding-right: 10px;}
#header .nav-alt ul .print {background: url("../img/icons.gif") no-repeat scroll -57px center transparent;width: 47px;border-left: 1px dotted #000;padding-right: 20px;}
#header .nav-alt ul .share {background: url("../img/icons.gif") no-repeat scroll -126px center transparent;width: 42px;border-left: 1px dotted #000;padding-right: 20px;}

.power-100 #main.rankings ul.legend {
background: url("../img/bkg-rank.png") repeat-x;
width: 100%;
min-height: 0;
line-height: 23px;
border: none;
height: 23px;
text-transform: uppercase;
}
.rankings ul.legend li {
border: none;
line-height: 25px;
}
.legend .rank {width: 11%;}
.legend .rank p {text-align: center;}
.legend .name {width: 42%;}
.legend .detail {width: 46%;}
.legend .name p, .legend .detail p {margin: 0 0 0 5px;}

#main ul.directory {float: left;margin: 0;padding: 0;width: 100%;min-height: 0;}
#main ul.directory:hover {background: #fff;cursor: pointer;}

li.rank {
width: 11%;
height:60px;
line-height: 60px;
text-align: center;
border-bottom: 1px solid #ccc;
position: relative;
z-index: 9;
}
li.rank h3 {
margin: 0 auto;
width:78px;
height: 43px;
font-family: "Arial Black",serif;
font-weight: bold;
color: #fff;
position: relative;
bottom: 27px;
letter-spacing: .5em;
left: 3px;
}
.ie7 li.rank h3 {
bottom: 27px;
right: 1px;
}
li.rank .bkg {
height: 26px; 
position: relative; 
top:15px; 
}
.story .rank {position: relative;bottom: 20px;right: 78px;}
.story .rank h3 {
bottom: 6px;
color: #FFFFFF;
font-family: "Arial Black",serif;
font-weight: bold;
height: 43px;
letter-spacing: 0.5em;
margin: 0 auto;
position: relative;
right: 252px;
width: 78px;
}
.story .rank .one00 {
right: 261px;
}
.ie7 .story .rank h3 {
bottom: 8px;
right: 255px;
}
.story .rank .bkg {
height: 26px; 
position: relative; 
top:15px; 
}
.story .rank {background: none;}
.rank .bkg {background:url("../img/rank.png") no-repeat scroll 17px 1px transparent;}
.rank .ten {background:url("../img/rank.png") no-repeat scroll 9px -29px transparent;}
li.name {
width: 42%;
height:60px;border-bottom: 1px solid #ccc;
border-left:1px solid #ccc;
border-right: 1px solid #ccc; 
}
.story .name {
float: left;
margin: -88px 0 0 1px;
position: relative;
z-index: 99;
}
.name h2 {margin: 10px 0 0 10px;}
.name h3 {margin: 0 0 0 10px;font: 12px 'Vollkorn', Arial, Helvetica, serif;}

li.detail {width: 46%;height:60px;border-bottom: 1px solid #ccc;}
li.detail p {margin: 7px 0 0 10px;font-size: 12px;}
li.detail p a {
background: url("../img/arrow-right.png") no-repeat scroll 0 center transparent;
color: #660000;
margin-right: 10px;
padding-left: 10px;
position: absolute;
right: 0;
}
.report {
float:left;
width: 100%;
background: #fff;
margin-top: -61px;
position: relative;
z-index: 99;
}
.btn-close {
float: right;
margin: 10px;
cursor: pointer;
position: relative;
z-index: 9;
background: none;
}
.toggle_container .btn-close {
margin: 35px 20px 0;
}
.story {margin: 20px 0 0 78px;}
.story .supplement {
float: left;
padding: 0 50px 0 10px;
margin: 0;
width: 550px;
position: relative;
z-index: 9;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}
.story .supplement.with-img {
width: 356px;
float: left;
}
.story img {
float: left;
clear: both;
}
.story p {
float: left;
margin: 0 0 10px;
}
.see-the-rest {
background: url("../img/see-the-rest.png") no-repeat scroll 0 0 transparent;
height: 54px;
width: 138px;
margin: 20px auto;
display: block;
}
.more {height: 54px; width: 660px;float: left;margin: 25px auto 0;}

.clear:after {
content: ".";
display: block;
clear: both;
height: 0;
visibility: hidden;
}