article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; background: #f0efed; }
::-moz-selection {text-shadow: none; }
::selection {text-shadow: none; }
h1,h2,h3,h4,h5,h6,p,a {margin: 0;padding: 0;}
a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 0; padding: 0; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* ==|== primary styles =====================================================
   Author: 
   ========================================================================== */
h2 { font-family:'Vollkorn', Arial, serif; font-weight: 400; }
.power h1, .power h2, .power h3, .power p {font-family:'Vollkorn', Arial, serif;}
#container {margin: 0;padding: 0;}
header {margin: 0;padding: 0;}
#banner {
background: url("../img/bkg-banner.png") repeat-x scroll 0 0 transparent;
height: 60px;
}
#banner div {width: 730px;margin: 0 auto;}
#banner h1 {float:left;line-height: 60px;}
#banner p {float:right;line-height: 60px;}
#banner img {float:right;margin: 3px 0 0 4px;}
header, #main {
width: 710px;
margin: 0 auto;
}
header {text-align: center;}
header h1 {
background: url("../img/logo-power-100.gif") no-repeat scroll 0 0 transparent;
height: 106px;
margin: 20px auto;
text-indent: -2000em;
}
header h3 {
background: url("../img/tagline-100-most-powerful.gif") no-repeat scroll 0 0 transparent;
height: 34px;
margin: 20px auto;
text-indent: -2000em;
}
#main ul {margin:0;padding: 0;float: left;}
li {list-style: none;float:left;display: inline;}

.power {margin:0;width: 234px;height: 370px;background: url("../img/power-top-9.png") no-repeat scroll left top transparent;}

.power-01 {margin:0 15px 0 -15px;background-position: 15px 0;}
.power-01:hover {margin: 0 15px 0 -15px;background-position: -234px 0;}
.power-01 .rank {background: url("../img/rankings.png") no-repeat scroll 93px -1px transparent;}

.power-02 {margin:0 15px 0 -15px; background-position: 15px -375px;}
.power-02:hover {margin: 0 15px 0 -15px;background-position: -235px -375px;}
.power-02 .rank {background: url("../img/rankings.png") no-repeat scroll 93px -31px transparent;}

.power-03 {margin:0 15px 0 -15px; background-position: 15px -750px;}
.power-03:hover {margin: 0 15px 0 -15px;background-position: -235px -750px;}
.power-03 .rank {background: url("../img/rankings.png") no-repeat scroll 93px -61px transparent;}

.power-04 {margin:0 15px 0 -15px;background-position: 15px -1125px;}
.power-04:hover {margin: 0 15px 0 -15px;background-position: -235px -1125px;}
.power-04 .rank {background: url("../img/rankings.png") no-repeat scroll 93px -91px transparent;}

.power-05 {margin:0 15px 0 -15px; background-position: 15px -1500px;}
.power-05:hover {margin: 0 15px 0 -15px;background-position: -235px -1500px;}
.power-05 .rank {background: url("../img/rankings.png") no-repeat scroll 93px -121px transparent;}

.power-06 {margin:0 15px 0 -15px; background-position: 15px -1875px;}
.power-06:hover {margin: 0 15px 0 -15px;background-position: -235px -1875px;}
.power-06 .rank {background: url("../img/rankings.png") no-repeat scroll 93px -151px transparent;}

.power-07 {margin:0 15px 0 -15px;background-position: 15px -2250px;}
.power-07:hover {margin: 0 15px 0 -15px;background-position: -235px -2250px;}
.power-07 .rank {background: url("../img/rankings.png") no-repeat scroll 93px -181px transparent;}

.power-08 {margin:0 15px 0 -15px; background-position: 15px -2625px;}
.power-08:hover {margin: 0 15px 0 -15px;background-position: -235px -2625px;}
.power-08 .rank {background: url("../img/rankings.png") no-repeat scroll 93px -211px transparent;}

.power-09 {margin:0 15px 0 -15px; background-position: 15px -3000px;}
.power-09:hover {margin: 0 15px 0 -15px;background-position: -235px -3000px;}
.power-09 .rank {background: url("../img/rankings.png") no-repeat scroll 93px -241px transparent;}

.power a {color: #000;text-decoration: none;float: left;width: 234px; margin: 8px auto 0;}
.power a:active {color: #7c0b00;}
.trigger {text-align: center;cursor: pointer;position: relative;top:245px;}
.toggle_container {width: 590px;float: left;}
.block {margin-top: 20px;}
.trigger .rank {font-weight: bold; font-size: 18px;color: #fff;height: 25px;letter-spacing: 0.08em;padding-left: 2px;}
.trigger h3 {text-transform: uppercase;}
.trigger p {font-size: 11.5px;}
.block h3 {padding-top: 20px;}
.see-the-rest {
background: url("../img/see-the-rest.png") no-repeat scroll 0 0 transparent;
height: 54px;
width: 138px;
margin: 20px auto;
display: block;
}
.more {height: 54px; width: 660px;float: left;margin: 0 auto;}

.clear:after {
content: ".";
display: block;
clear: both;
height: 0;
visibility: hidden;
}











/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


