article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; background: #f0efed; }
::-moz-selection {text-shadow: none; }
::selection {text-shadow: none; }
h1,h2,h3,h4,h5,h6,p,a {margin: 0;padding: 0;}
a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol, dd { margin: 0; padding: 0; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* ==|== primary styles =====================================================
   Author: 
   ========================================================================== */

h2 { font-family:'Vollkorn', Arial, Helvetica, serif; font-weight: 400; }
.power h1, .power h2, .power h3, .power p {font-family:'Vollkorn', Arial, Helvetica, serif;}

#container {margin: 0;padding: 0;}
header {margin: 0;padding: 0;}

#banner {
background: url("../img/bkg-banner.png") repeat-x scroll 0 0 transparent;
height: 60px;
}
#banner div {width: 730px;margin: 0 auto;}
#banner h1, #banner p.tag {float:left;line-height: 60px;margin-right: 10px;}
#banner p {float:right;line-height: 60px;}
#banner img {float:right;margin: 3px 0 0 4px;}

header, #main {
width: 710px;
margin: 0 auto;
}
header {text-align: center;}
header h1 {
background: url("../img/logo-power-100.gif") no-repeat scroll 0 0 transparent;
height: 106px;
margin: 20px auto;
text-indent: -2000em;
}
header h3 {
background: url("../img/tagline-100-most-powerful.gif") no-repeat scroll 0 0 transparent;
height: 34px;
margin: 20px auto;
text-indent: -2000em;
}
.power-100 header h1 {
background: none repeat scroll 0 0 #000;
padding: 10px 10px 10px 18px;
color: #fff;
height: 100%;
text-align: left;
text-indent: 0;
}
.power-100 header h1 span {
bottom: 2px;
font-size: 20px;
font-weight: normal;
position: relative;
}
.power-100 header p {
font-size: 16px;
padding: 0 35px;
text-align: left;
}

#main ul {
width: 710px;
min-height: 340px;
margin:0;
padding: 0;
float: left;
position: relative;
}

li {
list-style: none;
float:left;
display: inline;
}
.power {
margin:0;
width: 234px;
height: 370px;
background: url("../img/power-top-9.png") no-repeat scroll left top transparent;
position: absolute;
}
#main .active {
background: url("../img/hover.png") no-repeat scroll 1px 17px transparent;
position: relative;
z-index: 9;
}
.power-01 {margin:0 15px 0 -15px;background-position: 15px 0;left: 0;}
.power-01:hover {margin: 0 15px 0 -15px;background-position: -234px 0;}
.power-01 .rank {background: url("../img/rankings.png") no-repeat scroll 93px -1px transparent;}

.power-02 {margin:0 15px 0 -15px; background-position: 15px -375px;left: 234px;}
.power-02:hover {margin: 0 15px 0 -15px;background-position: -235px -375px;}
.power-02 .rank {background: url("../img/rankings.png") no-repeat scroll 93px -31px transparent;}

.power-03 {margin:0 15px 0 -15px; background-position: 15px -750px;right: 0;}
.power-03:hover {margin: 0 15px 0 -15px;background-position: -235px -750px;}
.power-03 .rank {background: url("../img/rankings.png") no-repeat scroll 93px -61px transparent;}

.power-04 {margin:0 15px 0 -15px;background-position: 15px -1125px;left: 0;}
.power-04:hover {margin: 0 15px 0 -15px;background-position: -235px -1125px;}
.power-04 .rank {background: url("../img/rankings.png") no-repeat scroll 93px -91px transparent;}

.power-05 {margin:0 15px 0 -15px; background-position: 15px -1500px;left: 234px;}
.power-05:hover {margin: 0 15px 0 -15px;background-position: -235px -1500px;}
.power-05 .rank {background: url("../img/rankings.png") no-repeat scroll 93px -121px transparent;}

.power-06 {margin:0 15px 0 -15px; background-position: 15px -1875px;right: 0;}
.power-06:hover {margin: 0 15px 0 -15px;background-position: -235px -1875px;}
.power-06 .rank {background: url("../img/rankings.png") no-repeat scroll 93px -151px transparent;}

.power-07 {margin:0 15px 0 -15px;background-position: 15px -2250px;left: 0;}
.power-07:hover {margin: 0 15px 0 -15px;background-position: -235px -2250px;}
.power-07 .rank {background: url("../img/rankings.png") no-repeat scroll 93px -181px transparent;}

.power-08 {margin:0 15px 0 -15px; background-position: 15px -2625px;left: 234px;}
.power-08:hover {margin: 0 15px 0 -15px;background-position: -235px -2625px;}
.power-08 .rank {background: url("../img/rankings.png") no-repeat scroll 93px -211px transparent;}

.power-09 {margin:0 15px 0 -15px; background-position: 15px -3000px;right: 0;}
.power-09:hover {margin: 0 15px 0 -15px;background-position: -235px -3000px;}
.power-09 .rank {background: url("../img/rankings.png") no-repeat scroll 93px -241px transparent;}

.power a {color: #000;text-decoration: none;float: left;width: 234px; margin: 8px auto 0;}
.power a:active {color: #7c0b00;}

.trigger {text-align: center;cursor: pointer;position: relative;top:245px;}
.trigger img {
position: relative;
bottom: 215px;
right: 2px;
}
.toggle_container {width: 590px;height:450px;float: left;position: relative;top: 340px;}
.block {margin-top: 20px;}
.trigger .rank {
font-weight: bold; 
font-size: 18px;
color: #fff;
height: 25px;
letter-spacing: 0.08em;
padding-left: 2px;
margin-top: -315px;
position: relative;
z-index: 99;
}
.trigger h3 {
text-transform: uppercase;
position: relative;
z-index: 99;
}
.trigger p {
font-size: 11.5px;
position: relative;
z-index: 99;
}
.block h3 {padding-top: 20px;}

header .nav-alt {float: left;width: 100%;margin: 25px 0;}
header .nav-alt a.top-09 {float: left;
margin-left: 15px;
color: #660000;
background: url("../img/arrows.png") no-repeat scroll -27px center transparent;
padding-left: 10px;
}
header .nav-alt ul {float: right;margin-right: 15px;padding: 0 5px;}
header .nav-alt ul a {text-decoration: none;display: block;}
header .nav-alt ul .email {background: url("../img/icons.gif") no-repeat 0 center;width: 47px;padding-right: 10px;}
header .nav-alt ul .print {background: url("../img/icons.gif") no-repeat scroll -57px center transparent;width: 47px;border-left: 1px dotted #000;padding-right: 20px;}
header .nav-alt ul .share {background: url("../img/icons.gif") no-repeat scroll -126px center transparent;width: 42px;border-left: 1px dotted #000;padding-right: 20px;}

.power-100 #main.rankings ul.legend {
background: url("../img/bkg-rank.png") repeat-x;
width: 100%;
min-height: 0;
line-height: 23px;
border: none;
height: 23px;
text-transform: uppercase;
}
.rankings ul.legend li {
border: none;
line-height: 25px;
}
.legend .rank {width: 11%;}
.legend .rank p {text-align: center;}
.legend .name {width: 42%;}
.legend .detail {width: 46%;}
.legend .name p, .legend .detail p {margin: 0 0 0 5px;}

#main ul.directory {float: left;margin: 0;padding: 0;width: 100%;min-height: 0;}
#main ul.directory:hover {background: #fff;cursor: pointer;}

li.rank {
width: 11%;
height:60px;
line-height: 60px;
text-align: center;
border-bottom: 1px solid #ccc;
position: relative;
z-index: 9;
}
li.rank h3 {
margin: 0 auto;
width:78px;
height: 43px;
font-family: 'Vollkorn', Arial, Helvetica, serif;
color: #fff;
position: relative;
bottom: 26px;
letter-spacing: .08em;
}
li.rank .bkg {
height: 25px; 
position: relative; 
top:15px; 
}
.story .rank {position: relative;bottom: 20px;right: 78px;}
.story .rank h3 {
bottom: 6px;
color: #FFFFFF;
font-family: 'Vollkorn',Arial,Helvetica,serif;
height: 43px;
letter-spacing: 0.08em;
margin: 0 auto;
position: relative;
right: 247px;
width: 78px;
}
.story .rank .bkg {
height: 25px; 
position: relative; 
top:15px; 
}

.rank .one {background:url("../img/rankings.png") no-repeat scroll 14px 1px transparent;}
.rank .two {background:url("../img/rankings.png") no-repeat scroll 14px -29px transparent;}
.rank .three {background:url("../img/rankings.png") no-repeat scroll 14px -59px transparent;}
.rank .four {background:url("../img/rankings.png") no-repeat scroll 14px -89px transparent;}
.rank .five {background:url("../img/rankings.png") no-repeat scroll 14px -119px transparent;}
.rank .six {background:url("../img/rankings.png") no-repeat scroll 14px -149px transparent;}
.rank .seven {background:url("../img/rankings.png") no-repeat scroll 14px -179px transparent;}
.rank .eight {background:url("../img/rankings.png") no-repeat scroll 14px -209px transparent;}
.rank .nine {background:url("../img/rankings.png") no-repeat scroll 14px -239px transparent;}
.rank .ten {background:url("../img/rankings.png") no-repeat scroll 14px -269px transparent;}

li.name {
width: 42%;
height:60px;border-bottom: 1px solid #ccc;
border-left:1px solid #ccc;
border-right: 1px solid #ccc; 
}
.story .name {
float: left;
margin-top: -90px;
}
.name h2 {margin: 10px 0 0 10px;}
.name h3 {margin: 0 0 0 10px;font: 12px 'Vollkorn', Arial, Helvetica, serif;}

li.detail {width: 46%;height:60px;border-bottom: 1px solid #ccc;}
li.detail p {margin: 7px 0 0 10px;font-size: 12px;}
li.detail p a {
background: url("../img/arrow-right.png") no-repeat scroll 0 center transparent;
color: #660000;
float: right;
margin-right: 10px;
padding-left: 10px;
}

.report {
float:left;
width: 100%;
background: #fff;
margin-top: -61px;
position: relative;
z-index: 99;
}
.report .btn-close {
float: right;
margin: 10px;
cursor: pointer;
}
.story {margin: 20px 0 0 78px;}
.story .supplement {
float: left;
margin: -233px 0 0 200px;
padding: 35px;
width: 356px;
}
.story .image {
background: url("../img/power-top-9.png") no-repeat scroll transparent;
margin-top: -65px;
height: 240px;
width: 185px;
}
.story p {
float: left;
margin: 0 0 10px;
}
.see-the-rest {
background: url("../img/see-the-rest.png") no-repeat scroll 0 0 transparent;
height: 54px;
width: 138px;
margin: 20px auto;
display: block;
}
.more {height: 54px; width: 660px;float: left;margin: 0 auto;}

.clear:after {
content: ".";
display: block;
clear: both;
height: 0;
visibility: hidden;
}

.story .i011 {background-position: 0 -377px;}
.story .i012 {background-position: 0 -754px;}
.story .i013 {background-position: 0 -1131px;}
.story .i014 {background-position: 0 -1508px;}
.story .i015 {background-position: 0 -1885px;}
.story .i016 {background-position: 0 -2262px;}
.story .i017 {background-position: 0 -2639px;}
.story .i018 {background-position: 0 -377px;}
.story .i019 {background-position: 0 -754px;}
.story .i020 {background-position: 0 -1131px;}
.story .i021 {background-position: 0 -1508px;}
.story .i022 {background-position: 0 -1885px;}
.story .i023 {background-position: 0 -2262px;}
.story .i024 {background-position: 0 -2639px;}
.story .i025 {background-position: 0 -1885px;}
.story .i026 {background-position: 0 -2262px;}
.story .i027 {background-position: 0 -2639px;}
.story .i028 {background-position: 0 -377px;}
.story .i029 {background-position: 0 -754px;}
.story .i030 {background-position: 0 -1131px;}
.story .i031 {background-position: 0 -1508px;}
.story .i032 {background-position: 0 -1885px;}
.story .i033 {background-position: 0 -2262px;}
.story .i034 {background-position: 0 -2639px;}
.story .i035 {background-position: 0 -1885px;}
.story .i036 {background-position: 0 -2262px;}
.story .i037 {background-position: 0 -2639px;}
.story .i038 {background-position: 0 -377px;}
.story .i039 {background-position: 0 -754px;}
.story .i040 {background-position: 0 -1131px;}
.story .i041 {background-position: 0 -377px;}
.story .i042 {background-position: 0 -754px;}
.story .i043 {background-position: 0 -1131px;}
.story .i044 {background-position: 0 -1508px;}
.story .i045 {background-position: 0 -1885px;}
.story .i046 {background-position: 0 -2262px;}
.story .i047 {background-position: 0 -2639px;}
.story .i048 {background-position: 0 -377px;}
.story .i049 {background-position: 0 -754px;}
.story .i050 {background-position: 0 -1131px;}
.story .i051 {background-position: 0 -1508px;}
.story .i052 {background-position: 0 -1885px;}
.story .i053 {background-position: 0 -2262px;}
.story .i054 {background-position: 0 -2639px;}
.story .i055 {background-position: 0 -1885px;}
.story .i056 {background-position: 0 -2262px;}
.story .i057 {background-position: 0 -2639px;}
.story .i058 {background-position: 0 -377px;}
.story .i059 {background-position: 0 -754px;}
.story .i060 {background-position: 0 -1131px;}
.story .i061 {background-position: 0 -1508px;}
.story .i062 {background-position: 0 -1885px;}
.story .i063 {background-position: 0 -2262px;}
.story .i064 {background-position: 0 -2639px;}
.story .i065 {background-position: 0 -1885px;}
.story .i066 {background-position: 0 -2262px;}
.story .i067 {background-position: 0 -2639px;}
.story .i068 {background-position: 0 -377px;}
.story .i069 {background-position: 0 -754px;}
.story .i070 {background-position: 0 -1131px;}
.story .i071 {background-position: 0 -377px;}
.story .i072 {background-position: 0 -754px;}
.story .i073 {background-position: 0 -1131px;}
.story .i074 {background-position: 0 -1508px;}
.story .i075 {background-position: 0 -1885px;}
.story .i076 {background-position: 0 -2262px;}
.story .i077 {background-position: 0 -2639px;}
.story .i078 {background-position: 0 -377px;}
.story .i079 {background-position: 0 -754px;}
.story .i080 {background-position: 0 -1131px;}
.story .i081 {background-position: 0 -1508px;}
.story .i082 {background-position: 0 -1885px;}
.story .i083 {background-position: 0 -2262px;}
.story .i084 {background-position: 0 -2639px;}
.story .i085 {background-position: 0 -1885px;}
.story .i086 {background-position: 0 -2262px;}
.story .i087 {background-position: 0 -2639px;}
.story .i088 {background-position: 0 -377px;}
.story .i089 {background-position: 0 -754px;}
.story .i090 {background-position: 0 -1131px;}
.story .i091 {background-position: 0 -377px;}
.story .i092 {background-position: 0 -754px;}
.story .i093 {background-position: 0 -1131px;}
.story .i094 {background-position: 0 -1508px;}
.story .i095 {background-position: 0 -1885px;}
.story .i096 {background-position: 0 -2262px;}
.story .i097 {background-position: 0 -2639px;}
.story .i098 {background-position: 0 -377px;}
.story .i099 {background-position: 0 -754px;}
.story .i100 {background-position: 0 -1131px;}











/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: "."; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


